In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
panel=pd.read_csv('https://github.com/ArtKTP/Siametrics-Pre-interview-Assignment/raw/master/result/panel.csv')
panel.head()

,person_id,year,id_s_fr,age,female,perf_a,perf_b,perf_c,status,avg_absences
0,2,2012,3.000010e+09,48.0,1.0,NaN,NaN,NaN,Active,7.949226
1,2,2013,NaN,49.0,1.0,-0.291035,-0.113626,-0.193299,Inactive,8.651512
2,2,2014,NaN,50.0,1.0,NaN,NaN,NaN,Inactive,8.864153
3,4,2012,NaN,53.0,1.0,NaN,NaN,NaN,Active,8.806202
4,4,2013,NaN,54.0,1.0,NaN,NaN,NaN,Active,8.876021

In [3]:
#panel['perf_a'] = panel['perf_a'].replace(np.nan, 0)
#panel['perf_b'] = panel['perf_b'].replace(np.nan, 0)
#panel['perf_c'] = panel['perf_c'].replace(np.nan, 0)

In [4]:
panel['lperf'] = panel.apply(lambda row: row.perf_a + row.perf_b + row.perf_c, axis=1)
panel.head()

,person_id,year,id_s_fr,age,female,perf_a,perf_b,perf_c,status,avg_absences,lperf
0,2,2012,3.000010e+09,48.0,1.0,NaN,NaN,NaN,Active,7.949226,NaN
1,2,2013,NaN,49.0,1.0,-0.291035,-0.113626,-0.193299,Inactive,8.651512,-0.597961
2,2,2014,NaN,50.0,1.0,NaN,NaN,NaN,Inactive,8.864153,NaN
3,4,2012,NaN,53.0,1.0,NaN,NaN,NaN,Active,8.806202,NaN
4,4,2013,NaN,54.0,1.0,NaN,NaN,NaN,Active,8.876021,NaN

In [5]:
# What is the average of lperf among female employees?

In [6]:
female = [1]
c1 = panel['female'].isin(female) 
df=panel[c1]

In [7]:
df = df.dropna(subset=['lperf'])

In [8]:
average_lperf_female = np.mean(df['lperf'])

In [9]:
average_lperf_female

0.21628703795838264